# 2 Расчет себестоимости единицы продукции

**Себестоимость** - стоимостная оценка затрат (ресурсов: осн. средства, трудовые ресурсы, топливо, материал) на производство и *реальзицию товаров*/услуг (продажу).

**Группиовки затрат**:

1. **Смета затрат за период**

- материальные. сырье и проч.
- зп и премии
- страховые взносы
- амотизационные отчисления
- прочие расходы

На ее основе определяют себестоимость единицы продукции (полн. с / объем продукции), если продуция однородная.

Определяют и **структуру затрат** - удельный вес каждой составляющей затрат в общем отношении за период.

Анализ структуры затрат необходим для снижения себестоимости.

2. **Калькуляция** - расчет себестоимости единицы продукции в денежном выражении.

На ее основе определяют себестоимость единицы продукции.

**Осн. статьи калькуляции** (производственное предприятие):

- цеховая себестоимость, т.е. затраты подразделения: 
  1. осн. зп осн. рабочих
  2. доп. зп осн. рабочих
  3. отчисления с зп осн. рабочих
  4. топливо
  5. расходы на содержание и эксплуатацию оборудования (РСЭО)
  6. осн. материалы
  7. вспомогат. материалы
  8. полуфабрикаты
  9. расходы на освоение производства
  10. общепроизводственные расходы
- производственная себестоимость: цеховая себестоимость + 
  11. общехоз. расходы
  12. брак
  13. проч. производственные расходы.
- *Полная себестоимость*: производственная себестоимость + 
  14. внепроизводственные расходы.

**Осн. статьи калькуляции** (предприятие сферы услуг):

- полуфабрикаты
- *сдельная зп* - сколько выполнил, столько и получил.
- соц. отчисления с сдельной зп
- *накладные расходы* (аренда, реклама, маркетинг, комунальые услуги, ремонт основных средств)

**Осн. статьи калькуляции** (торгового предприятие):

- товары для перепродажи
- полуфабрикаты
- премии к зп
- накладные расходы

Виды затрат по способу отнесения на себестоимость:

1. прямые. связаны с производственным процессом или оказанием услуги, т.е. их можно напрямую отнести к опр. товару, т.к. напряму связаны с его созданием. (зп осн рабочих, полуфабрикаты)
2. косвенные. не относятся напрямую к производству продукции, но связаны с производствам. (зп менеджера, комуналка, налоги, реклама).

Алгоритм расчета косвенных затрат зависит от способа распределения. Для производственного предприятия способы распределения: пропорционально осн. зп осн. рабочих, прямым затратам и заводской себестоимости. Для торгововго предприятия: прямым затратам, доле выручки каждого товара в общ. объеме выручки. Для сферы услуг: также как и торгового.

Выбирается признак (относительно чего: осн. зп. осн. рабочих) и категория затрат (внепроизводственные затраты) и считается коэф. косвенных расходов.

In [3]:
import numpy as np
%run depreciation_1.ipynb
data

Норма амортизации за год: 10.0%
Сумма амортизации за год: 300000.0 рублей

                                                           name    value
0                     Объем производства и продаж товара 1, шт.     5000
1                     Объем производства и продаж товара 2, шт.     6000
2                     Объем производства и продаж товара 3, шт.    10000
3                            Материальные затраты товар 1, руб.      250
4                            Материальные затраты товар 2, руб.      400
5                            Материальные затраты товар 3, руб.      250
6      Основная заработная плата основных рабочих товар 1, руб.      110
7      Основная заработная плата основных рабочих товар 2, руб.      120
8      Основная заработная плата основных рабочих товар 3, руб.      120
9                   Первоначальная стоимость оборудования, руб.  3000000
10                            Срок полезного использования, лет       10
11                                        Цеховые расходы, руб.   500000
12                                      Заводские расходы, руб.  2300000
13                                     Затраты на рекламу, руб.   300000
14                   Доходы от прочей деятельности за год, руб.   500000
15                  Расходы от прочей деятельности за год, руб.   700000
16           Длительность производственного цикла товара 1, дни       20
17           Длительность производственного цикла товара 2, дни       25
18          Длительность производственного цикла  товара 3, дни       29
19     Время хранения готовой продукции на складе товара 1, дни       14
20     Время хранения готовой продукции на складе товара 2, дни       12
21     Время хранения готовой продукции на складе товара 3, дни       14
22                                          Цена товара 1, руб.      600
23                                          Цена товара 2, руб.      700
24                                          Цена товара 3, руб.      680
25         Интервал между поставками материала по товару 1, дни       15
26         Интервал между поставками материала по товару 2, дни       20
27         Интервал между поставками материала по товару 3, дни       30
28  Страховой запас, % от текущего запаса (для всех материалов)       20

In [2]:
plain_expenses = pd.DataFrame({
    'Статьи прямых затрат': ['Материальные затраты, руб.', 'Основная заработная плата основных рабочих, руб.', 'Страховые взносы (на основную заработную плату основных рабочих), руб.'],
    'Товар 1': [np.NaN]*3,
    'Товар 2': [np.NaN]*3,
    'Товар 3': [np.NaN]*3},
    columns = ['Статьи прямых затрат', 'Товар 1', 'Товар 2', 'Товар 3'])

# add initial data to dataframe
plain_expenses.iloc[0, 1:] = data.iloc[3:6].value
plain_expenses.iloc[1, 1:] = data.iloc[6:9].value

# подсчет страховых взносов
a = plain_expenses.iloc[1, 1] * 0.3
c = plain_expenses.iloc[1, 2] * 0.3
b = plain_expenses.iloc[1, 3] * 0.3
plain_expenses.iloc[2, 1:] = a, b, c

plain_expenses

,Статьи прямых затрат,Товар 1,Товар 2,Товар 3
0,"Материальные затраты, руб.",250.0,400.0,250.0
1,"Основная заработная плата основных рабочих, руб.",110.0,120.0,120.0
2,"Страховые взносы (на основную заработную плату основных рабочих), руб.",33.0,36.0,36.0

In [4]:
from operator import mul

indir_expenses = np.array([['Расходы на содержание и эксплуатацию оборудования (РСЭО)', np.NaN],
         ['Цеховые расходы', np.NaN],
         ['Заводские расходы', np.NaN],
         ['Внепроизводственные расходы', np.NaN],
         ['Итого косвенные затраты', np.NaN]])
indir_expenses = pd.DataFrame(indir_expenses, columns=('Статьи косвенных затрат', 'Сумма за год, руб.'))

# add initial data
indir_expenses.iloc[1:3, 1]  = data.iloc[11:13].value
indir_expenses.iloc[0, 1] = sa  # РСЭО = сумме амортизации
indir_expenses.iloc[3, 1] = data.value[13]  # внепроизв. расходы = расходы на рекламу
indir_expenses.loc[4, ['Сумма за год, руб.']] = indir_expenses.iloc[:4, 1].sum()

indir_expenses

                                    Статьи косвенных затрат Сумма за год, руб.
0  Расходы на содержание и эксплуатацию оборудования (РСЭО)           300000.0
1                                           Цеховые расходы             500000
2                                         Заводские расходы            2300000
3                               Внепроизводственные расходы             300000
4                                   Итого косвенные затраты          3400000.0

In [10]:
# объем производства/продаж
cost_volume = data.iloc[0:3].value

# зп осн. рабочих за год, сдельная (объем товара * себестоимость затрат на товар)
year_salary = sum(map(lambda tpl: mul(*tpl), zip(plain_expenses.iloc[1, 1:].values, cost_volume)))
# Аналогично для материальных затрат  и страховых
mater_expenses = sum(map(lambda tpl: mul(*tpl), zip(plain_expenses.iloc[0, 1:].values, cost_volume)))
strah_expenses = sum(map(lambda tpl: mul(*tpl), zip(plain_expenses.iloc[2, 1:].values, cost_volume)))

# Полуаем общ. прямые затраты
total_plain_cost = year_salary + mater_expenses + strah_expenses
print(f'Прямые затраты за год: {total_plain_cost} рублей')
print(f"Косвенные затраты за год: {indir_expenses.loc[4, 'Сумма за год, руб.']} рублей")

Прямые затраты за год: 9361000.0 рублей
Косвенные затраты за год: 3400000.0 рублей

1. Расходы на содержание и эксплуатацию оборудования распределяются пропорционально основной заработной плате основных рабочих (сдельной заработной плате).
2. Цеховые и заводские расходы распределяются пропорционально прямым затратам.
3. Внепроизводственные расходы распределяются пропорционально заводской себестоимости.

Считаю коэффы

In [11]:
# на 1 рубль основной зп осн. рабочих приходится 12 копеек расходов на СЭО
k1 = indir_expenses.iloc[0, 1] / year_salary
# на 1 рубль прямых затрат приходится 5 копеек цеховых затрат
k2_ceh = indir_expenses.iloc[1, 1] / total_plain_cost
# На 1 рубль прямых затрат приходится 25 копеек заводских затрат
k2_prod = indir_expenses.iloc[2, 1] / total_plain_cost
k1, k2_ceh, k2_prod

(0.1214574898785425, 0.05341309689135776, 0.2457002457002457)

In [14]:
# df1 с прямыми и косвенными видами затрат на кажый товар
part_1 =indir_expenses.iloc[:-2, 0]
part_2 = plain_expenses.iloc[:, 0]
part_3 = np.concatenate((part_1[:-1], ['Цеховая себестоимость'], [part_1[2]], ['Заводская себестоимость']))
df1 = pd.DataFrame({'Статья затрат, руб.': np.concatenate((part_2, part_3))})
for k, v in {i: [np.NaN]*df1.shape[0] for i in plain_expenses.columns[1:]}.items():
    df1[k] = v
df1.iloc[:3, 1:] = plain_expenses.iloc[:, 1:]
df1

,"Статья затрат, руб.",Товар 1,Товар 2,Товар 3
0,"Материальные затраты, руб.",250.0,400.0,250.0
1,"Основная заработная плата основных рабочих, руб.",110.0,120.0,120.0
2,"Страховые взносы (на основную заработную плату основных рабочих), руб.",33.0,36.0,36.0
3,Расходы на содержание и эксплуатацию оборудования (РСЭО),NaN,NaN,NaN
4,Цеховые расходы,NaN,NaN,NaN
5,Цеховая себестоимость,NaN,NaN,NaN
6,Заводские расходы,NaN,NaN,NaN
7,Заводская себестоимость,NaN,NaN,NaN

In [21]:
for good in df1.columns[1:]:
    df1.loc[3, [good]] = k1 * df1.loc[1, [good]]  # РСЭО = коэф * зп по каждому товару
    df1.loc[4, [good]] = k2_ceh * sum(plain_expenses[good])  # Цеховые расходы = коэф * сумма прямых затрат по товару
    df1.loc[5, [good]] = sum(df1.loc[:4, [good]][good])  # Цеховaя себестоимость = сумма 0-4
    df1.loc[6, [good]] = k2_prod * sum(plain_expenses[good])  # заводские расходы = коэф * сумма прямых затрат по товару
    df1.loc[7, [good]] = df1.loc[5, [good]] + df1.loc[6, [good]]  # заводская себестоимость = цеховая + заводские расходы
    df1[good] = df1[good].round(2)

df1

,"Статья затрат, руб.",Товар 1,Товар 2,Товар 3
0,"Материальные затраты, руб.",250.00,400.00,250.00
1,"Основная заработная плата основных рабочих, руб.",110.00,120.00,120.00
2,"Страховые взносы (на основную заработную плату основных рабочих), руб.",33.00,36.00,36.00
3,Расходы на содержание и эксплуатацию оборудования (РСЭО),13.36,14.57,14.57
4,Цеховые расходы,20.99,29.70,21.69
5,Цеховая себестоимость,427.35,600.27,442.26
6,Заводские расходы,96.56,136.61,99.75
7,Заводская себестоимость,523.91,736.88,542.01

In [23]:
# считаю общ. заводскую себестоимость и определяю коэф коммерческих расходов
prod_expenses = sum(map(lambda tpl: mul(*tpl), zip(df1.iloc[7, 1:].values, cost_volume)))

# на 1 рубль производственной себестоимости приходится 2 копеек коммерческих затрат
k_commerce = indir_expenses.iloc[3, 1] / prod_expenses

print(f'Общ. заводская себестоимость: {prod_expenses} рублей')
print(f'Коэф. коммерческих расходов: {k_commerce}')

Общ. заводская себестоимость: 12460930.0 рублей
Коэф. коммерческих расходов: 0.024075249600150228

In [24]:
# заношу в массив сумму коммерческих расходов и полной себестоимсости на единицу продукцции (т.е. товара)
commerce_expenses = (round(df1.loc[7, [good]][good] * k_commerce, 2) for good in df1.columns[1:])
df1.loc[len(df1)] = ['Внепроизводственные расходы', *commerce_expenses]
total_expenses = (df1.loc[7, [good]][good] + df1.loc[8, [good]][good] 
                  for good in df1.columns[1:])
df1.loc[len(df1)] = ['Полная себестоимость единицы продукции (ATC)', *total_expenses]
df1

,"Статья затрат, руб.",Товар 1,Товар 2,Товар 3
0,"Материальные затраты, руб.",250.00,400.00,250.00
1,"Основная заработная плата основных рабочих, руб.",110.00,120.00,120.00
2,"Страховые взносы (на основную заработную плату основных рабочих), руб.",33.00,36.00,36.00
3,Расходы на содержание и эксплуатацию оборудования (РСЭО),13.36,14.57,14.57
4,Цеховые расходы,20.99,29.70,21.69
5,Цеховая себестоимость,427.35,600.27,442.26
6,Заводские расходы,96.56,136.61,99.75
7,Заводская себестоимость,523.91,736.88,542.01
8,Внепроизводственные расходы,12.61,17.74,13.05
9,Полная себестоимость единицы продукции (ATC),536.52,754.62,555.06