In [2]:
# Задача 1. Определить среднюю стоимость основного капитала за год на
# основе исходной информации, представленной в таблице

import pandas as pd
import numpy as np

data = pd.DataFrame({
    'parameter': ('Осн. ср-ва', 'фин. вложения', 'нематер. активы'),
    'begin_year': (140_000_000, 7_000_000, 5_000_000),
    'end_year': (186_000_000, 9_000_000, 4_000_000)
})
data

         parameter  begin_year   end_year
0       Осн. ср-ва   140000000  186000000
1    фин. вложения     7000000    9000000
2  нематер. активы     5000000    4000000

In [3]:
# Sср = (Sнг + Sкг) / 2
average_cost = (data['begin_year'].sum() + data['end_year'].sum()) / 2
average_cost

175500000.0

In [4]:
# Задача 2. Цена приобретения станка составляет 4 500 000 руб. Затраты по
# транспортировке станка до таможни составили 200 000 руб., таможенная
# пошлина – 315 000 руб., затраты по транспортировке от таможни до склада
# предприятия – 100 000 руб. Расходы, связанные с установкой станка и
# подготовкой к эксплуатации, включая затраты на обучение сотрудников,
# составили 400 000 руб. Дополнительные затраты на обучение сотрудников
# после ввода станка в эксплуатацию составили 50 000 руб. Рассчитать
# первоначальную стоимость станка.

first_cost = 4_500_000 + 200_000 + 315_000 + 100_000 + 400_000
first_cost

5515000

In [6]:
# Задача 3. В цехе установлено 8 станков. Производительность каждого
# станка – 30 изделий в час. За год было изготовлено 826 848 изделий.
# Номинальный фонд работы станков составил 3960 часов. Рассчитать
# коэффициент интенсивности (интенсивного использования).

# Кинт = Мф/Mн - исп. осн. ср-в по мощности (факт и номинальн), т.е. макс. возможный выпуск продукции
# M = N*П*T, N - шт обрудования, П-производительность, Т-фонд работы
# T = (Tкал - Tвых,празд) * число смен * длит. 1 смены - потери

Mn = 8 * 30 * 3960
k_int = 826_848 / Mn
print('Осн. капитал используется по мощности на 87%')

Осн. капитал используется по мощности на 87%

In [7]:
# Задача 4. На производстве установлено 10 единиц однотипного
# оборудования. Производительность оборудования составляет 25 изделий в
# час. Номинальный фонд работы оборудования составил 3780 часов.
# Фактический фонд работы оборудования – 3402 часа. За год было выпущено
# 756 000 изделий. Рассчитать коэффициент интенсивности (интенсивного
# использования), коэффициент экстенсивности (экстенсивного
# использования), интегральный коэффициент.

Mn = 10 * 25 * 3780
k_int = 756_000 / Mn

# Кэкст = Tфакт/Тном, исп. по времени
# k_integral = Kинт * Кэкст
k_ext = 3402 / 3780
k_integral = k_int * k_ext
print(f'Осн. капитал исп. по мощности на {k_int * 100}%')
print(f'Осн. капитал исп. по времени на {k_ext * 100}%')
print(f'Осн. капитал исп. по мощности и времени {k_integral * 100}%')

Осн. капитал исп. по мощности на 80.0%
Осн. капитал исп. по времени на 90.0%
Осн. капитал исп. по мощности и времени 72.00000000000001%

In [16]:
# Задача 5. Известно, что коэффициент использования мощности цеха
# (коэффициент интенсивности) равен 0,8. Коэффициент экстенсивности равен
# 0,9. За год было выпущено 230 000 изделий. В цехе установлено 5 станков,
# производительность каждого станка – 20 изделий в час. Рассчитать
# номинальный и фактический фонд работы станков.

Mn = 230_000 / 0.8
Tn = Mn / (5*20)
Tf = 0.9 * Tn
print(f'Факт. фонд работы {Tf} часов')
print(f'Номинальный фонд работы {Tn} часов')

Факт. фонд работы 2587.5 часов
Номинальный фонд работы 2875.0 часов

In [18]:
# Амортизация начисляется линейным способом. Первоначальная
# стоимость основного средства составляет 20 000 000 руб. Срок полезного
# использования – 10 лет. Рассчитать остаточную стоимость основного средства на
# конец третьего года эксплуатации.
Na = 1 / 10
Sa = 20_000_000 * Na
result = 20_000_000 - (Sa * 3)
result

14000000.0

In [37]:
# Амортизация начисляется линейным способом.
# Первоначальная стоимость основного средства составляет 4 500 000 руб. Срок
# полезного использования – 5 лет. Рассчитать остаточную стоимость основного
# средства на конец первого квартала второго года эксплуатации.
Na = 1 / 5
Sa = 4_500_000 * Na
Sa_q = Sa / 12
result = 4_500_000 - (Sa_q * 15)
result

3375000.0

In [45]:
# Первоначальная стоимость объекта основных средств
# составляет 4 000 000 руб. Срок его полезного использования – 10 лет.
# Определить сумму амортизационных отчислений за каждый год
# эксплуатации, если применяется линейная ускоренная амортизация.
# Коэффициент ускорения равен 2. За сколько лет стоимость основного
# средства будет перенесена на себестоимость продукции?

# Na = kуск * ному при линейном
Na = 2 * (1 / 10)

Sa1 = 4_000_000 * Na
result = 4_000_000 / Sa1
result

5.0

In [50]:
# Первоначальная стоимость оборудования составляет
# 3 000 000 руб. Срок его полезного использования – 10 лет. Ликвидационная
# стоимость составляет 200 000 руб. Определить годовую сумму
# амортизационных отчислений, если применяется линейная амортизация.
Na = (3_000_000 - 200_000) / (3_000_000 * 10)
Sa = 3_000_000 * Na
Sa

280000.0

In [56]:
# Амортизация начисляется способом уменьшаемого остатка.
# Первоначальная стоимость основного средства составляет 3 000 000 руб.
# Срок полезного использования – 5 лет. Коэффициент ускорения равен 2.
# Определить сумму амортизационных отчислений за каждый год
# эксплуатации
data = pd.DataFrame({
    'amortization_sum': (np.NaN for _ in range(5))},
    index=np.arange(1, 6)
)
data.index.name = 'year'

Na = 2 * (1 / 5)

data.loc[1, 'amortization_sum'] = 3_000_000 * Na
remain = 3_000_000 - data.loc[1, 'amortization_sum']

data.loc[2, 'amortization_sum'] = remain * Na
remain = remain - data.loc[2, 'amortization_sum']

data.loc[3, 'amortization_sum'] = remain * Na
remain = remain - data.loc[3, 'amortization_sum']

data.loc[4, 'amortization_sum'] = remain * Na
remain = remain - data.loc[4, 'amortization_sum']

data.loc[5, 'amortization_sum'] = remain * Na
data

      amortization_sum
year
1            1200000.0
2             720000.0
3             432000.0
4             259200.0
5             155520.0

In [74]:
# Амортизация начисляется способом списания стоимости по
# сумме числа лет срока полезного использования. Первоначальная стоимость
# основного средства составляет 4 000 000 руб. Срок полезного использования –
# 5 лет. Определить сумму амортизационных отчислений за каждый год
# эксплуатации.

data = pd.DataFrame({
    'amortization_sum': (np.NaN for _ in range(5))},
    index=np.arange(1, 6)
)
data.index.name = 'year'

# Nai = Ti / T, Sai = Sперв*Nai
j = 1
for i in range(5, 0, -1):
    Nai = i / sum(range(1, 6))
    Sai = 4_000_000 * Nai
    data.loc[j, 'amortization_sum'] = round(Sai, 2)
    j += 1
data

      amortization_sum
year
1           1333333.33
2           1066666.67
3            800000.00
4            533333.33
5            266666.67

In [79]:
# Амортизация начисляется способом списания стоимости по
# сумме числа лет срока полезного использования. Первоначальная стоимость
# основного средства составляет 5 000 000 руб. Срок полезного использования – 7
# лет. Определить сумму амортизационных отчислений за каждый год
# эксплуатации и остаточную стоимость на конец каждого года.

data = pd.DataFrame({
    'amortization_sum': (np.NaN for _ in range(7)),
    'remain_sum': (np.NaN for _ in range(7))},
    index=np.arange(1, 8)
)
data.index.name = 'year'

j = 1
remain = 5_000_000
for i in range(7, 0, -1):
    Nai = i / sum(range(1, 8))
    Sai = 5_000_000 * Nai
    data.loc[j, 'amortization_sum'] = round(Sai, 2)
    remain = remain - Sai
    data.loc[j, 'remain_sum'] = round(remain, 2)
    j += 1
data

      amortization_sum  remain_sum
year
1           1250000.00  3750000.00
2           1071428.57  2678571.43
3            892857.14  1785714.29
4            714285.71  1071428.57
5            535714.29   535714.29
6            357142.86   178571.43
7            178571.43        0.00

In [80]:
# Амортизация начисляется способом пропорционально объему
# продукции. Первоначальная стоимость основного средства составляет
# 5 000 000 руб. Предполагаемый объем производства продукции за весь срок
# полезного использования – 1000 штук. Рассчитать сумму амортизации за
# январь, если в январе было произведено 70 штук.

# Sa ед = S перв / Qпл, Sa янв = Sa eд * Qпл янв
Sa_one = 5_000_000 / 1000
Sa_jan = Sa_one * 70
Sa_jan

350000.0

In [81]:
# Величина основного капитала на начало года составляет
# 4 000 000 руб., на конец года – 5 000 000 руб. За год было продано продукции на
# сумму 5 625 000 руб. Величина прибыли до налогообложения за год составила
# 450 000 руб. Рассчитать капиталоотдачу, капиталоемкость и рентабельность
# основного капитала.
average_cost = (4_000_000 + 5_000_000) / 2
Ko = 5_625_000 / average_cost
Ke = 1 / Ko
main_efficiency = 450_000 / average_cost
Ko, Ke, main_efficiency

(1.25, 0.8, 0.1)

In [82]:
# Капиталоемкость составляет 1,5 руб./руб. За год было продано
# продукции на сумму 7 500 000 руб. Величина прибыли до налогообложения за
# год составила 787 500 руб. Рассчитать рентабельность основного капитала.

average_cost = 1.5 * 7_500_000
main_efficiency = 787_500 / average_cost
main_efficiency

0.07

In [86]:
# Величина средней стоимости основных средств за год составляет
# 100 000 000 руб., доля активной части – 40 %. Величина произведенной
# продукции за год составила 180 000 000 руб. Среднесписочная численность
# рабочих – 200 человек. Рассчитать капиталоотдачу, капиталоотдачу активной
# части, капиталоемкость, капиталовооруженность.

Ko = 180_000_000 / 100_000_000
Ko_act = 180_000_000 / (100_000_000 * 0.4)
Ke = 1 / Ko
# капиталовооруженность = S ср. осн ср-в / СЧС
KV =  100_000_000 / 200
Ko, Ko_act, Ke, KV

(1.8, 4.5, 0.5555555555555556, 500000.0)

In [87]:
# Величина средней стоимости основных средств за год
# составляет 90 000 000 руб. Величина проданной продукции за год составила
# 180 000 000 руб. Рассчитать капиталоотдачу на основе исходных данных и
# значение капиталоотдачи, если объем проданной продукции увеличится на
# 10 %.
Ko1 = 180_000_000 / 90_000_000
Ko2 = (180_000_000 + 180_000_000 * 0.1) / 90_000_000
Ko1, Ko2

(2.0, 2.2)

In [88]:
# Производственный цех оборудован 8 агрегатами.
# Производительность одного агрегата – 5 изделий в час. В году 118 выходных и
# праздничных дней, потери времени за счет сокращения длительности смены в
# предпраздничные дни составляют 6 часов. Коэффициент сменности (количество
# смен в сутки) равен 1. Длительность смены – 8 часов. Определить номинальную
# мощность цеха.

work_fund = (365 - 118) * 1 * 8 - 6
Mn = 5 * 8 * work_fund
Mn

78800

In [89]:
#  За год было выпущено 252 544 изделий. В цехе установлено 10
# единиц оборудования. Производительность оборудования – 8 изделий в час. В
# году 247 рабочих дней. Коэффициент сменности (количество смен в сутки)
# равен 2. Длительность смены – 8 часов. В предпраздничные дни смена
# сокращается на 1 час, предпраздничных дней в году – 3. Рассчитать
# коэффициент интенсивности (интенсивного использования).

work_fund = (365 - (365 - 247)) * 8 * 2 - 3
Mn = work_fund * 8 * 10
k_int = 252_544 / Mn
k_int

0.7993922512028362

In [104]:
#  В цехе установлено 5 станков. За год было выпущено 14 475
# изделий. В году 117 выходных и праздничных дней. Коэффициент сменности
# (количество смен в сутки) равен 1. Длительность смены – 8 часов. В
# предпраздничные дни смена сокращается на 1 час, потери времени за счет
# сокращения длительности смены в предпраздничные дни составляют 6 часов.
# Плановые ремонты составляют 6 дней. Фактическое время работы станков
# составило 1544 часа. Норма времени на изготовление одного изделия
# составляет 0,5 часа. Рассчитать коэффициент интенсивности (интенсивного
# использования), коэффициент экстенсивности (экстенсивного использования),
# интегральный коэффициент.

work_fund = (365 - 117) * 1 * 8 - (6 * 8 + 6)
Mn = work_fund * 5 * 2
k_int = 14_475 / Mn
k_ext = 1544 / work_fund
k_integral = k_int * k_ext
k_int, k_ext, k_integral

(0.75, 0.8, 0.6000000000000001)

In [110]:
# . В цехе установлено 10 станков. Известно, что коэффициент
# использования мощности (коэффициент интенсивности) равен 0,9. В году 248
# рабочих дней. Коэффициент сменности (количество смен в сутки) равен 1.
# Длительность смены – 8 часов. Норма времени на изготовление одного
# изделия составляет 15 минут. Потери времени в связи с плановыми ремонтами
# и сокращением смены в предпраздничные дни составляют 24 часа. Рассчитать
# фактическую мощность цеха

work_fund = 248 * 1 * 8 - 24
Mn = work_fund * 4 * 10
Mf = 0.9 * Mn
Mf

70560.0

In [115]:
# Основные средства предприятия на начало года составляют
# 32 000 000 руб. С 1 июня вводится в эксплуатацию основных средств на сумму
# 2 100 000 руб., а с 1 августа выбывает на сумму 300 000 руб. За год было продано
# продукции на сумму 28 135 000 руб. Рассчитать среднюю стоимость основных
# средств за год экономическим способом, капиталоотдачу, коэффициент
# обновления.

# Sкг = Sнг + Sвв - Sост
end_cost = 32_000_000 + 2_100_000 - 300_000
# Sср = S перв + (Sвв * мес до конца года / 12) - (Sвыб * мес до конца года / 12)
average_cost = 32_000_000 + (2_100_000 * 7 / 12) - (300_000 * 5 / 12)
Ko = 28_135_000 / average_cost
K_update = 2_100_000 / end_cost
average_cost, Ko, K_update

(33100000.0, 0.85, 0.0621301775147929)

In [117]:
# Величина основных средств предприятия на начало года
# составляет 100 000 000 руб. Известно, что с 1 марта вводится основных
# средств на 30 000 000 руб., выбыло с 1 октября – на 5 000 000 руб. Продано
# продукции за год на сумму 61 875 000 руб. Полная себестоимость за год
# составляет 40 737 500 руб. Величина убытка от прочей деятельности
# составляет 10 000 000 руб. Рассчитать среднюю стоимость основных средств
# за год экономическим способом, капиталоотдачу, капиталоемкость,
# рентабельность основного капитала, коэффициент обновления, коэффициент
# выбытия.

end_cost = 100_000_000 +  30_000_000 - 5_000_000
average_cost = 100_000_000 + 30_000_000 * 10 / 12 - 5_000_000 * 3 / 12
Ko = 61_875_000 / average_cost
Ke = 1 / Ko
main_efficiency = (61_875_000 - 40_737_500 - 10_000_000) / average_cost
K_update = 30_000_000 / end_cost
K_remove = 5_000_000 / 100_000_000
average_cost, Ko, Ke, main_efficiency, K_update, K_remove

(123750000.0, 0.5, 2.0, 0.09, 0.24, 0.05)

In [118]:
# Величина основных средств на начало года составила 16 000 000
# руб. За год было введено основных средств на сумму 4 000 000 руб., выбыло –
# на сумму 1 000 000 руб. Рассчитать коэффициент обновления, коэффициент
# выбытия
end_cost = 16_000_000 + 4_000_000 - 1_000_000
K_update = 4_000_000 / end_cost
K_remove = 1_000_000 / 16_000_000
K_update, K_remove

(0.21052631578947367, 0.0625)

In [119]:
#  Рассчитать структуру основного капитала на конец года на основе
# исходной информации, представленной в таблице.
assets = 57_000_000 + 228_000_000 + 15_000_000
intangible = 57_000_000 / assets * 100
main_assets = 228_000_000 / assets * 100
investments = 15_000_000 / assets * 100
intangible, main_assets, investments

(19.0, 76.0, 5.0)

In [133]:
# Рассчитать структуру основного капитала на начало и конец
# года на основе исходной информации, представленной в таблице
data = pd.DataFrame({
    'begin': (6_456_000, 206_592_000, 2_152_000),
    'end': (5_940_000, 209_660_000, 4_400_000)},
    index=('intangible', 'main_assets', 'investments')
)
data.index.name = 'parameter'

data_new = data.copy()
data_new.loc['intangible'] = (data.loc['intangible', 'begin'] / data['begin'].sum() * 100,
                                 data.loc['intangible', 'end'] / data['end'].sum() * 100)
data_new.loc['main_assets'] = (data.loc['main_assets', 'begin'] / data['begin'].sum() * 100,
                                 data.loc['main_assets', 'end'] / data['end'].sum() * 100)
data_new.loc['investments'] = (data.loc['investments', 'begin'] / data['begin'].sum() * 100,
                                 data.loc['investments', 'end'] / data['end'].sum() * 100)
data_new.loc['total'] = (data_new['begin'].sum(), data_new['begin'].sum())
data_new

             begin    end
parameter
intangible       3    2.7
main_assets     96   95.3
investments      1    2.0
total          100  100.0

In [136]:
#  Определить величину и структуру основных средств торгового
# предприятия на конец года на основе исходной информации, представленной
# в таблице
data = pd.DataFrame({
    'end': (6_175_000, 18_525_000, 98_800_000)},
    index=('equipment', 'transport_assets', 'buildings')
)
data.index.name = 'parameter'
(data.loc['equipment', 'end'] / data['end'].sum(),
data.loc['transport_assets', 'end'] / data['end'].sum(),
data.loc['buildings', 'end'] / data['end'].sum(),
data['end'].sum())

(0.05, 0.15, 0.8, 123500000)

In [137]:
# Первоначальная стоимость основных средств предприятия
# составляет 40 000 000 руб. Начисленные амортизационные отчисления за три
# года составляют 12 000 000 руб. Рассчитать коэффициент износа и
# коэффициент годности на конец третьего года эксплуатации.


# K износа = Sа накопленная / Sперв, K готов = S ост / S перв
K_wear = 12_000_000 / 40_000_000
K_ready = (40_000_000 - 12_000_000) / 40_000_000
K_wear, K_ready

(0.3, 0.7)

In [138]:
# Первоначальная стоимость основных средств предприятия
# составляет 160 000 000 руб. Амортизационные отчисления рассчитываются
# линейным способом. Средняя норма амортизации – 10 %. Рассчитать
# коэффициент износа и коэффициент годности на конец четвертого года
# эксплуатации.
Sa = 160_000_000 * 0.1 * 4
K_wear = Sa / 160_000_000
K_ready = (160_000_000 - Sa) / 160_000_000
K_wear, K_ready

(0.4, 0.6)