In [18]:
from requests import get
from bs4 import BeautifulSoup
import re

url = 'https://grossmend.com/blog/post/pandas_120_part_1/'

headers = {
    'user-agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_5) AppleWebKit/537.36 (KHTML, like Gecko) Iridium/2018.11 Safari/537.36 Chrome/71.0.0.0'
}

def get_tasks(url: str) -> None:
    markup = get(url, headers=headers).content.decode()
    soup = BeautifulSoup(markup, 'lxml')
    print(*(re.findall(r'^(# \d+\..+$)', i.text, re.M) 
            for i in soup.find_all('code', class_='python')), sep='\n')
        
get_tasks(url)

[]
['# 1. Импортировать модуль и проверить версию\r']
['# 2. Создать объект pandas Series из листа, объекта NumPy, и словаря\r']
['# 3. Преобразовать объект Seris в DataFrame\r']
['# 4. Как объединить несколько объектов Series в Dataframe\r']
['# 5. Присвоить имя индексу объекта Series\r']
['# 6. Получить элементы объекта Series A, которых нет в объекте Series B\r']
['# 7. Получить не пересекающиеся элементы в двух объектах Series\r']
['# 8. Получить от объекта Series показатели описательной статистики\r']
['# 9. Узнать частоту уникальных элементов объекта Series (гистограмма)\r']
['# 10. Заменить все элементы объекта Series на "Other", кроме двух наиболее часто встречающихся\r']
['# 11. Создать объект Series в индексах дата каждый день 2018 года, в значениях случайное значение\r', '# 1. Найти сумму всех вторников\r', '# 2. Для каждого месяца найти среднее значение\r']
['# 12. Преобразовать объект Series в DataFrame заданной формы (shape)\r']
['# 13. Найти индексы объекта Series кратные 3\r']
['# 14. Получить данные по индексам объекта Series\r']
['# 15. Объединить два объекта Series вертикально и горизонтально\r']
['# 16. Получить индексы объекта Series A, данные которых содержатся в объетке Series B\r']
['# 17. Получить объект Series B, котоырй содержит элементы без повторений объекта A\r']
['# 18. Преобразовать каждый символ объекта Series в верхний регистр\r']
['# 19. Рассчитать количество символов в объекте Series\r']
['# 20. Найти разность между объектом Series и смещением объекта Series на n\r']
[]
['# 21.1 Поскольку работа с датой часто встречается в работе, то см. еще один пример\r']
['# 22. Получить год, месяц, день, день недели, номер дня в году от объекта Series (string)\r']
['# 23. Преобразовать даты месяца и года к 7-ому дню\r']
['# 24. Отобрать элементы объекта Series, кторые содержат не менее двух гласных\r']
['# 25. Отобрать e-маилы из объекта Series\r']
['# 26. Получить среднее значение каждого уникального объекта Series s1 через "маску" другого объекта Series s2\r']
['# 27. Найти евклидово расстоняие между двумя объектами Series\r']
['# 28. Найти индексы локальных максимумов в объекте Series\r']
['# 29. Заменить пробелы наименее часто встречающимся символом\r']
['# 30. Создать объект Series, который содержит в индексах даты выходных дней субботы,\r']
['# 31. Заполнить пропущенные даты, значением выше (заполненной даты)\r']
['# 32. Вычислить автокорреляцию объекта Series\r']

In [22]:
import pandas as pd
import numpy as np

# 3 из series в dataframe
s1 = pd.Series({'name': 'Sam', 'surname': 'Whoe', 'nation': 'USA'})
df1 = pd.DataFrame(s1)
df1.transpose()

  name surname nation
0  Sam    Whoe    USA

In [33]:
# 4 dataframe из нескольких series
s2 = s1 * 2
df2 = pd.DataFrame([s2, s1])
df2

     name   surname  nation
0  SamSam  WhoeWhoe  USAUSA
1     Sam      Whoe     USA

In [43]:
# 6. Получить элементы объекта Series A, которых нет в объекте Series B
A = pd.Series({'name': 'Sam', 'surname': 'Whoe', 'nation': 'USA'})
B = pd.Series({'name': 'Sam', 'surname': 'Welback', 'nation': 'British'})
# A[A.isin(B)]
A[A != B].values

array(['Whoe', 'USA'], dtype=object)