In [1]:
import pandas as pd

# Series

\- объект, представлящий собой одноомерный массив.

*Params*:

- iterable
- index задаю такой же итер. объект для названий полей, без них только индексы.

Можно индексироваться, в т.ч. и по ключам.

Выполнять *мат. операции и операции сравнения*, которая будет применена к каждой единице выборки. (Вместо map). Вернет новый объект Series.

*Поддерживает*: max, min, sorted, list, len

In [2]:
iterable_1 = [1, 2, 3, 4, 5, "six"]

chosen_data = pd.Series(iterable_1, ["n1", "n2", "n3", "n4", "n5", "n6"])

print(chosen_data)
print("Last one is", chosen_data[5])

n1      1
n2      2
n3      3
n4      4
n5      5
n6    six
dtype: object
Last one is six

In [3]:
iterable_2 = dict(name="Misha", age=20, nation="Russian")

chosen_data = pd.Series(iterable_2)

chosen_data[0], chosen_data["age"]

('Misha', 20)

In [7]:
from random import randint
iterable_3 = (randint(1, 100) for _ in range(10))
chosen_data_1 = pd.Series(iterable_3)
chosen_data_2 = chosen_data_1 // 2
print(any(chosen_data_1 == chosen_data_2))
print(len(chosen_data_1), max(chosen_data_1))

False
10 81

#### DataFrame

\- объект, представлющий собой многомерный массив, т.е. вложенный список.

In [11]:
df = pd.DataFrame(({"name": "Alex", "age": "10"}, {"name": "Alex", "age": "10"}))
df

   name age
0  Alex  10
1  Alex  10